<script type="text/html" data-help-name="sinch-template">
  <p>
    Configure/select a template to send through the Conversation API. Templates are created and edited on the <a href="https://dashboard.sinch.com/convapi/message-composer" target="_blank">Sinch Dashboard</a>
  </p>
  <h4>Configuration</h4>
  <p>
    Select or create a Conversation API configuration. Then select a template from the template list.
  </p>
  <h3>Output</h3>
  <dl class="message-properties">
      <dt>templateId <span class="property-type">string</span></dt>
      <dd>Will be used by the Send node to send the template.</dd>
  </dl>
</script>
